[Unit]
Description=The weather demo server
After=network.target

[Service]
ExecStart=/usr/bash setup_weather_demo.sh
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
